.input-box {
    width: 80%;
    height: 300px;
}

.comparor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.chatbox {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#chatbox-messages {
    border: none;
    padding: 11px;
}

#chatbox-messages:focus {
    outline: none;
}

#chatbox-input {
    border: none;
    padding: 10px;
    width: 100%;
}

#chatbox-send {
    border: none;
    padding: 10px;
    background-color: #4051b5;
    color: #fff;
    cursor: pointer;
}

#chatbox-send:hover {
    background-color: #5d6cc0;
}

@media not print {
    .show-on-print, .show-on-print * {
        display: none !important;
    }
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}